curl -s -H "Authorization: token $GITHUB_TOKEN" https://api.github.com/{{if .Wireframe.Vendor}}orgs/{{.Wireframe.Vendor}}{{else}}user{{end}}/repos -d '{"name":"{{.Wireframe.Proj}}", "description": "{{.Wireframe.Desc}}", "auto_init": true, "license_template": "{{clk2lc .Wireframe.License}}", "gitignore_template": "{{.Wireframe.Lang}}"}'
